.title {
    font-size: 4em;
    text-align: center;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 20px;
}

#plot {
    height: 260pt;
}

.title2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin: 80px;
    padding-top: 50px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

tr  {
    width: 100%;
}

td {
    width: 0%;
}

.dots {
    width: 100%;
}

.row-title {
    font-weight: bold;
}