
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/semantic.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tsa/styles/index.css' %}">

<script>
    function set_loading(event) {
        if (document.getElementById("id_title").value != "" && document.getElementById("id_file").value != "") {
            event.classList.add('loading', 'disabled');
        }
    };
</script>

<style>
    body {
        height: 100%;
        background-image: url({% static 'tsa/images/index-bg.gif' %});
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<div id="page-container">
    <div id="title">Time Series Analysis Tool</div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="field-container">
            {% for field in form %}
                {% if field.name == 'title' %}
                    <label>{{ field.label }}:</label>
                    <div class="ui input spaceleft">
                        {{ field }}
                    </div>
                {% else %} 
                    <div class=spaceleft>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <button style="background: none; border: none;" onclick="set_loading(this)" class="ui button">
                <input type="submit" value="Submit" class="ui button">
            </button>
        </div>
    </form>
    <div id="errors">
        {{ form.non_field_errors }}
    </div>
</div>