{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/semantic.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/model.css' %}">

<script>
    function set_loading(event) {
        event.classList.add('loading', 'disabled');
        document.getElementById('loading-text').style.visibility = "visible";
    };
</script>

<style>
    .title {
        font-size: 4em;
        text-align: center;
        font-weight: bolder;
        padding-top: 80px;
        padding-bottom: 80px;
        margin-bottom: 40px;
        background-color: rgb(0, 86, 86);
        color: white;
        background-image: url({% static 'tsa/images/index-bg.gif' %});
        background-size: cover;
    }
</style>

{% if not title %}

<div class="title3">You must upload a dataset first!</div>

<div id="model-btn">
    <a class="ui button" href="{% url 'index' %}">
        Back to Home Page
    </a>
</div>

{% else %}

<div class="title">Building the TSA Model for the "{{ title|truncatechars:20 }}" Dataset!</div>

<div class="title2">This is how we searched for the best model!</div>

<div id="search-res-container">
    <div id="search-res">
        {{ search_output | linebreaks }}
    </div>
</div>

<div class="title2">See the fit and the forecasts of the model here!</div>

<div id="plot">
    <img src="{{ prediction_plot }}">
</div>

<div class="title2">You can see a few ending points of the series here!</div>

<div class="table-container">
    <table class="ui table definition" style="width: 75%">
        <thead>
            <tr>
                <th style="border-top: none; border-left: none;"></th>
                <th class="center aligned head-border right-border" colspan="{{ actual_count }}">Actual Data Points</th>
                <th class="center aligned" colspan="{{ prediction_count }}">Model Predictions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center aligned">Index</td>
                {% for index in indices %}
                    <td class="center aligned {% if forloop.counter == actual_count %} right-border {% endif %}">{{ index }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td class="center aligned">Value</td>
                {% for data in data %}
                    <td class="center aligned {% if forloop.counter == actual_count %} right-border {% endif %}">{{ data|floatformat:2 }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div id="model-btn">
    <a class="ui button" href="{% url 'model_diagnostics' tsa_id=id %}" onclick="set_loading(this)">
        See Model Diagnostics
    </a>
    <div id="loading-text" style="visibility: hidden; color: grey; margin-top: 1em;">Please wait while we are processing the data...</div>
</div>

{% endif %}