{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/semantic.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/visualization.css' %}">

<style>
    body {
        color: #090138;
    }
</style>

<div class="title">Visualizing the "{{ title|truncatechars:20 }}" Dataset!</div>

<div id="plot">
    {{ plot|safe }}
</div>

<div class="title2">You can see a few starting and ending data points here!</div>

<div class="table-container">
    <table class="ui blue table" style="width: 75%">
        <thead>
            <tr>
                {% for index in start_indices %}
                    <th class="center aligned">{{ index }}</th>
                {% endfor %}
                    <th class="center aligned dots">. . .</th>
                {% for index in end_indices %}
                    <th class="center aligned">{{ index }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for data in start_data %}
                    <td class="center aligned">{{ data }}</td>
                {% endfor %}
                    <td class="center aligned dots">. . .</td>
                {% for data in end_data %}
                    <td class="center aligned">{{ data }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="title2">Want to find out more? Here is the data summary!</div>

<div class="table-container">
    <table class="ui celled definition blue table" style="width: 25%; margin-bottom: 60px;">
        <thead>
        </thead>
        <tbody>
            {% for key, value in summary.items %}
                <tr>
                    <td class="center aligned row-title">{{ key }}</td>
                    <td class="center aligned">{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
