{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'tsa/styles/semantic.css' %}">

<table style="width:100%" class="ui table">
    <tr>
        {% for e in request.session.df %}
            {% if forloop.counter < 5 %}
            <td>{{ e }}</td>
            {% endif %}
        {% endfor %}
        <td>.</td>
        <td>.</td>
        <td>.</td>
        {% for e in request.session.df %}
            {% if forloop.counter > request.session.df|length|add:-5 %}
            <td>{{ e }}</td>
            {% endif %}
        {% endfor %}
    </tr>
</table>